# final artifacts
IgorPavlov.SevenZip.winmd

# intermediate artifacts
metadata.il

# dependencies
Windows.Win32.winmd

# tools
ilasm.exe
ilasm
# not required but you might have it next to ilasm:
ildasm.exe
ildasm
Windows.Win32.il
